{% load static  %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
#tr{border:0px;}

	</style>
</head>
<body style="background-image:url({% static 'simple2.JPG' %});">
<br>
<h2>
	<b colspan="2" style="padding: 20px;color: navy;font-size: 42px;font-style: italic;font-weight: bold;vertical-align: super;font:bold italic; "><center><u>Video to Text Recognization</u></center></b></u>
	<center><br><br>

<table border="10" style="text-decoration-line: 5 ; line-height: 2.5;border-radius: 25px;padding: 15px;background-color: white">
	<tr style="border:50px solid red;">
		<td colspan="2" style="padding: 20px;color: navy;font-size: 25px;font-style: italic;font-weight: bold;vertical-align: super;font:bold italic; width: 50%"><center><u>LogIn Success</u></td>
	</tr>
	<tr id="tr">
		<td colspan="2" id="tr" style="padding: 20px;color: navy;font-size: 25px;font-style: italic;font-weight: bold;vertical-align: super;font:bold italic; "><center><u><a href="/upload/">Upload File</a></u></td>

	</tr>
	<tr id="tr">
		<td colspan="2" id="tr" style="padding: 20px;color: navy;font-size: 25px;font-style: italic;font-weight: bold;vertical-align: super;font:bold italic; "><u><center><a href="/index3/">LogOut</a></u></td></tr></center></td></tr>
	</tr>
	</center></td></tr></table>
</body>
</html>